body {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
}

h1 {
  font-weight: bold;
  padding: 0.5em 0;
  font-size: 1.5em;
}

.headline {
  padding-bottom: 2em;
}

h2 {
  font-weight: bold;
  border-bottom: solid 1px lightgray;
  padding-bottom: 0.5em;
}

.column {
  float: left;
  width: 33.33%;
  height: 6em;
  padding-top: 2em;
}

.row {
  text-align: center;
  border-bottom: solid 1px lightgray;
  margin-bottom: 2em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
  width: 33%;
}

.top {
  font-size: 2em;
  font-weight:normal;
}

.bold {
  font-weight: bold;
}

.above {
  color: limegreen;
}

.below {
  color: red;
}

.region {
  display: inline-block;
  position: relative;
  right: 11em;
  width: 30em;
}

table {
  margin: 2em 0;
}

tbody tr {
  border-bottom: solid 1px lightgray;
}

th {
  font-weight: bold;
}

.industry{
  padding: 1em;
  display: inline-block;
  position: relative;
  right: 19em;
  width: 40em;
}

.ind_td {
  float: right;
  padding-right: 1em;
}
